	<%= render 'layouts/main' %>

	<div class="izq" id="cursos-breves" style="position:fixed;top:0;left:100%;width:100%;height:auto;min-height:100%;z-index:4;background-color:#AAA;">
		<%= render 'cursos_breves_temp' %>
	</div>	

	<div class="izq" id="curso-breve-1" style="position:fixed;top:0;width:100%;height:auto;min-height:100%;z-index:4;background-color:#AAA;">
		<%= render 'produccion_digital/curso_breve/curso1_temp' %>
	</div>

	<div class="der" id="produccion-digital" style="position:fixed;top:0;right:100%;height:100%;background-color:#06C;width:100%;z-index:4;overflow-x:hidden;overflow-y:auto;">
		<%= render 'produccion_digital/principal_prod_digital_temp', titulo: "Producción Digital y Postproducción", op1: "Coordinación", op2: "Tecnología Educativa", op3: "Diseño Digital", texto: "Texto extendido para probar", img: 'Paisaje.png', div1: "coordinacion", div2: "tecnologia-educativa", div3: "digital-design", link1: coordinacion_path, link2: tech_ed_path, link3: digital_design_path %>
	</div>

	<div class="der" id="tecnologia-educativa" style="position:fixed;top:0;right:100%;height:100%;background-color:#C60;width:100%;z-index:4;overflow-x:hidden;overflow-y:auto;">
		<%= render 'produccion_digital/principal_prod_digital_temp', titulo: "Tecnología Educativa", op1: "Coordinación", op2: "Producción Digital y Postproducción", op3: "Diseño Digital", texto: "Texto extendido para probar", img: 'Paisaje.png', div1: "coordinacion", div2: "produccion-digital", div3: "digital-design", link1: coordinacion_path, link2: principal_pd_path, link3: digital_design_path %>
	</div>

	<div class="bot" id="digital-design" style="position:fixed;top:100%;left:0;width:100%;height:auto;min-height:100%;z-index:4;background-color:#AAA;">
		<%= render 'produccion_digital/principal_prod_digital_temp', titulo: "Diseño Digital", op1: "Tecnología educativa", op2: "Coordinación", op3: "Producción Digital y Postproducción", texto: "Texto extendido para probar de diseño digital", img: 'Paisaje.png', div1: "tecnologia-educativa", div2: "coordinacion", div3: "produccion-digital", link1: tech_ed_path, link2: coordinacion_path, link3: principal_pd_path %>				
	</div>

	<div class="izq" id="coordinacion" style="position:fixed;top:0;left:100%;height:100%;background-color:#C60;width:100%;z-index:4;overflow-x:hidden;overflow-y:auto;">
		<%= render 'produccion_digital/principal_prod_digital_temp', titulo: "Coordinación", op3: "Diseño Digital", op2: "Tecnología Educativa", op1: "Producción Digital y Postproducción", texto: "Texto extendido para probar de coordinación", img: 'Paisaje.png', div1: "produccion-digital", div2: "tecnologia-educativa", div3: "digital-design", link1: principal_pd_path, link2: tech_ed_path, link3: digital_design_path %>
	</div>
