
<%= form_for(@video, :html => {:onsubmit => "validarForma()"}) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo, :readonly => true, :value => @vid.title %>
  </div>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.text_field :fecha, :readonly => true, :value => @vid.published_at %>
  </div>

  <div class="field">
    <%= f.label :liga %><br>
    <%= f.text_field :liga, :readonly => true, :value => "https://youtu.be/"+@vid.id %>
  </div>

  <div class="field">
		<%= f.hidden_field(:tipo) %>
    <%= f.label :tipo %><br>
		<input type="radio" name="tipo_tipo" value="fijo" onclick="swapTipo(this,'video_tipo','text_tipo','sel_tipo_sel_tipo');" checked>Fijo<br>
		<%= select("sel_tipo","sel_tipo", @tipos, {:selected => (@video.tipo || ""), :include_blank => true}, {:onchange => "registrarEntrada(this,'video_tipo');"}) %><br>

		<input type="radio" name="tipo_tipo" value="otro" onclick="swapTipo(this,'video_tipo','text_tipo','sel_tipo_sel_tipo');">Otro<br>
   	<input type="text" id="text_tipo" disabled oninput="registrarEntrada(this,'video_tipo');">
  </div>

  <div class="field">
		<input type="checkbox" name="curso_p" id="curso_p" onchange="toggleCurso(this)">Curso<br>
    <%= f.hidden_field(:curso) %>
		<input type="radio" name="tipo_curso" id="fijo_c" value="fijo" onclick="swapTipo(this,'video_curso','text_curso','sel_curso_sel_curso');" disabled>Existente<br>
		<%= select("sel_curso","sel_curso", @cursos, {:selected => (@video.curso || ""), :include_blank => true}, {:onchange => "registrarEntrada(this,'video_curso');", :disabled => "disabled"}) %><br>

		<input type="radio" name="tipo_curso" id="otro_c" value="otro" onclick="swapTipo(this,'video_curso','text_curso','sel_curso_sel_curso');" disabled>Otro<br>
   	<input type="text" id="text_curso" disabled oninput="registrarEntrada(this,'video_curso');">
  </div>

	<% i = 1 %>
	<% @participantes.each do |partic| %>
		<%= fields_for 'parts[]', partic do |p| %> 
			<div class="field" id=<%= "p_"+ i.to_s %>>
				<%= p.hidden_field(:id_video, :value => (partic.id_video || "")) %>
				<%= p.text_field :nombre, :value => (partic.nombre || "") %>
				<%= p.select(:institucion, [["Externo","Externo"],["COLMEX","COLMEX"]], { :include_blank => false, :selected => (partic.institucion || "Externo")}, {:onchange => "toggleCentro(this," + "p_"+i.to_s+")"}) %>
				<%= p.select(:centro, [["CEAA","CEAA"],["CEDUA","CEDUA"],["CEE","CEE"],["CEH","CEH"],["CEI","CEI"],["CELL","CELL"],["CES","CES"]], {:include_blank => true, :prompt => "Elige centro", :selected => (partic.centro || "")}, {:onchange => ""}) %><br>
			</div>
			<% i = i + 1 %>
		<% end %>

	<% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
