	<%= render 'layouts/main' %>

	<div class="der" id="tecnologia-educativa" style="position:fixed;top:0;right:0;height:100%;background-color:#C60;width:100%;z-index:4;overflow-x:hidden;overflow-y:auto;">
		<%= render 'produccion_digital/principal_prod_digital_temp', titulo: "Tecnología Educativa", op1: "Diseño Digital", op2: "Coordinación", op3: "Producción Digital y Postproducción", texto: "Texto extendido para probar de tecnología educativa", img: 'Paisaje.png' %>
	</div>

	<div class="der" id="produccion-digital" style="position:fixed;top:0;right:100%;height:100%;background-color:#06C;width:100%;z-index:4;overflow-x:hidden;overflow-y:auto;">
		<%= render 'produccion_digital/principal_prod_digital_temp', titulo: "Producción Digital y Postproducción", op1: "Coordinación", op2: "Diseño Digital", op3: "Tecnología Digital", texto: "Texto extendido para probar", img: 'Paisaje.png' %>
	</div>

	<div class="izq" id="cursos-breves" style="position:fixed;top:0;left:100%;width:100%;height:auto;min-height:100%;z-index:4;background-color:#AAA;">
		<%= render 'produccion_digital/cursos_breves_temp' %>
	</div>

	<div class="izq" id="curso-breve-1" style="position:fixed;top:0;left:100%;width:100%;height:auto;min-height:100%;z-index:4;background-color:#AAA;">
		<%= render 'produccion_digital/curso_breve/curso1_temp' %>
	</div>

