<!DOCTYPE html>
<html>
<head>
  <title><%= (@title || "") + "Coordinación de Educación Digital" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name=“google-site-verification” content=“lg2ASmy-DVyJum9n4gutP1pQh9MxqzhrCEeZjQsYTfo” />
	<script src="/js/jquery.nicescroll.min.js"></script>
</head>
<body>

<%= yield %>

	<script>
		$(function(){
			$("html").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
			$("#produccion-digital").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
			$("#tecnologia-educativa").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
			$("#digital-design").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
			$("#coordinacion").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
		});
	</script>
</body>
</html>
